@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

$primaryBgColor: #2f303a;
$secondaryBgColor: #f5f4fa;
$heroBgColor: rgba(47, 48, 58, 0.4);
$brandWhiteColor: #ffffff;
$brandBlackColor: #000000;
$backdropBgColor: rgba(0, 0, 0, 0.2);

$activeHeroBtn: #188ce8;
$BoxShadowColor: rgba(0, 0, 0, 0.15);
$headerBorder: #ececec;
$inputBorderColor: rgba(255, 255, 255, 0.3);
$placeholderColor: rgba(255, 255, 255, 0.6);
$modalInputBorderColor: rgba(33, 33, 33, 0.2);
$modalPlaceholderColor: rgba(117, 117, 117, 0.5);

$primaryTextColor: #212121;
$secondaryTextColor: #757575;

$accentColor: #2196f3;
$footerText: rgba(255, 255, 255, 0.6);
$gridBorderColor: #eeeeee;
$iconPrimaryColor: #afb1b8;
